*{
  margin: 0;
}
.container{
  height: 700px;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  justify-content: center;
  gap: 25px;
}
.card-container{
  background-color: white;
  height: 540px;
  width: 350px;
  border-radius: 10px;
  display: flex;
  align-items:flex-start;
  justify-content:center;
}
.card-container:hover{
  margin-top: -10px;
}
.card-1{
  margin-top: 15px;
}
.head-value{
  text-align: center;
  color: rgb(172, 171, 171);
  font-size: 15px;
}
.head-sub{
  color: rgb(172, 171, 171);
  font-weight: 200;
  font-size: 15px;
}
.head-title{
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}
hr{
  width: 250px;
  background-color: rgb(172, 171, 171);
  border: none;
  height: 1px;
}
.list-items{
  text-align: start;
  margin-top: 20px;
  height: 300px;
}
.list-items li{
  padding-top:15px ;
}
.list-mute{
  color: gray;
}
.button{
  margin-top: 10px;
  margin-left: 20px;
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #3498db;
  color: white;
  letter-spacing: 5px;
  font-weight: 600;
}
.card-container button:hover{
  background-color: rgb(83, 83, 234);
  color: aliceblue;
}

@media (max-width:998px) {
.container{
  display: block;
}
.card-container{
  display: block;
  margin-left: 30px;
}
.card-1{
  align-items: center;
  text-align: center;
}
.head-value{
 padding-top: 20px;
}
hr{
  width: 350px;
  background-color: rgb(172, 171, 171);
  border: none;
  height: 1px;
}
.button:hover{
  background-color: rgb(75, 75, 243);
  margin-left: 10px;
}
}